In [74]:
nigem_asia_countries = [
    'NiGEM NGFS v1.24.2|China',
    'NiGEM NGFS v1.24.2|India',
    'NiGEM NGFS v1.24.2|Japan',
]

geme3_asia_countries = [
    'China - CHN',
    'India - IND',
    'Japan - JPN',
]

# Make a mapping
asia_country_map = dict(zip(nigem_asia_countries, geme3_asia_countries))

In [75]:
import pandas as pd

def extract_nigem_consumption(df, regions, scenario, model, variant='transition'):
    var_base = {
        'coal': 'Quarterly consumption of coal ; MnToe',
        'gas':  'Quarterly consumption of gas ; MnToe',
        'oil':  'Quarterly consumption of oil ; MnToe'
    }
    var_scen = {
        'coal': f'Quarterly consumption of coal ; MnToe({variant})',
        'gas':  f'Quarterly consumption of gas ; MnToe({variant})',
        'oil':  f'Quarterly consumption of oil ; MnToe({variant})'
    }
    years = [col for col in df.columns if col.isdigit()]
    results = {}

    for region in regions:
        results[region] = {}
        for fuel in ['coal', 'gas', 'oil']:
            row_base = df[
                (df['Region'] == region) & 
                (df['Scenario'] == 'Baseline') & 
                (df['Variable'] == var_base[fuel]) &
                (df['Unit'] == 'MnToe') &
                (df['Model'] == model)
            ]
            row_pct = df[
                (df['Region'] == region) &
                (df['Scenario'] == scenario) &
                (df['Variable'] == var_scen[fuel]) &
                (df['Unit'] == '% difference') &
                (df['Model'] == model)
            ]
            if not row_base.empty and not row_pct.empty:
                base_vals = row_base[years].iloc[0].astype(float)
                pct_vals = row_pct[years].iloc[0].astype(float)
                levels = base_vals * (1 + pct_vals / 100)
                pct_change = levels.pct_change() * 100
                df_out = pd.DataFrame({
                    'year': years,
                    'consumption': levels.values,
                    'consumption_pct_change': pct_change.values
                })
                results[region][fuel] = df_out
            else:
                results[region][fuel] = pd.DataFrame()
    return results

# Usage Example:
df_nigem = pd.read_excel('NiGEM_data.xlsx', sheet_name='data')
regions = ['NiGEM NGFS v1.24.2|United States', 'NiGEM NGFS v1.24.2|Asia', 'NiGEM NGFS v1.24.2|United Kingdom', 'NiGEM NGFS v1.24.2|World'] + nigem_asia_countries
nigem_results = extract_nigem_consumption(
    df_nigem, regions, scenario='Net Zero 2050', model='NiGEM NGFS v1.24.2[REMIND-MAgPIE 3.3-4.8]', variant='transition'
)

Exception ignored in: <function ZipFile.__del__ at 0x1063aea20>
Traceback (most recent call last):
  File "/opt/anaconda3/lib/python3.12/zipfile/__init__.py", line 1940, in __del__
    self.close()
  File "/opt/anaconda3/lib/python3.12/zipfile/__init__.py", line 1957, in close
    self.fp.seek(self.start_dir)
ValueError: seek of closed file

In [76]:
def extract_geme3_consumption(df, regions, scenario='Baseline'):
    fuels = {
        'coal': 'Coal',
        'gas': 'Gas',
        'crude_oil': 'Crude Oil'
    }
    indicators = ['Production', 'Imports', 'Exports', 'Investments']
    years = [str(year) for year in range(2021, 2031)]
    results = {}
    for region in regions:
        results[region] = {}
        for fuel_key, fuel_name in fuels.items():
            series = {}
            for ind in indicators:
                var_name = f"{ind}|{fuel_name}"
                filtered = df[
                    (df['Region'] == region) &
                    (df['Scenario'] == scenario) &
                    (df['Variable'] == var_name)
                ]
                if not filtered.empty:
                    vals = filtered[years].iloc[0].values
                    series[ind.lower()] = pd.to_numeric(vals)
                else:
                    series[ind.lower()] = pd.Series([0.0]*len(years))
            consumption = (series['production'] +
                           series['imports'] -
                           series['exports'] -
                           series['investments'])
            df_fuel = pd.DataFrame({
                'year': years,
                'consumption': consumption,
                'consumption_pct_change': pd.Series(consumption).pct_change() * 100
            })
            results[region][fuel_key] = df_fuel
    return results

# Usage Example:
df_geme3 = pd.read_excel('GEME3_IIASA_2025_05_02.xlsx', sheet_name='data', usecols=['Region', 'Scenario', 'Variable'] + [str(y) for y in range(2021, 2031)])
geme3_regions = ['USA - USA', 'Asia', 'United Kingdom - GBR', 'World'] + geme3_asia_countries
geme3_results = extract_geme3_consumption(df_geme3, geme3_regions, scenario='HWTP')

In [90]:
def extract_geme3_combined_consumption(df, regions, scenario='Baseline'):
    fuels = {
        'coal': ['Coal', 'Coal Fired', 'CCS Coal'],
        'gas': ['Gas', 'Gas Fired', 'CCS Gas'],
        'crude_oil': ['Crude Oil', 'Oil', 'Oil Fired'] 
    }
    indicators = ['Production', 'Imports', 'Exports', 'Investments']
    years = [str(year) for year in range(2021, 2031)]
    results = {}
    for region in regions:
        results[region] = {}
        for fuel_key, fuel_variants in fuels.items():
            series = {}
            for ind in indicators:
                # Sum across all relevant variants for each indicator
                total = pd.Series([0.0] * len(years), index=years)
                for fuel_name in fuel_variants:
                    var_name = f"{ind}|{fuel_name}"
                    filtered = df[
                        (df['Region'] == region) &
                        (df['Scenario'] == scenario) &
                        (df['Variable'] == var_name)
                    ]
                    if not filtered.empty:
                        vals = pd.to_numeric(filtered[years].iloc[0].values)
                        total += vals
                series[ind.lower()] = total
            consumption = (series['production'] +
                           series['imports'] -
                           series['exports'] -
                           series['investments'])
            df_fuel = pd.DataFrame({
                'year': years,
                'consumption': consumption.values,
                'consumption_pct_change': pd.Series(consumption).pct_change() * 100
            })
            results[region][fuel_key] = df_fuel
    return results

# Usage Example:
# geme3_results = extract_geme3_combined_consumption(df_geme3, geme3_regions, scenario='Baseline')
df_geme3 = pd.read_excel('GEME3_IIASA_2025_05_02.xlsx', sheet_name='data', usecols=['Region', 'Scenario', 'Variable'] + [str(y) for y in range(2021, 2031)])
geme3_regions = ['USA - USA', 'Asia', 'United Kingdom - GBR', 'World'] + geme3_asia_countries
geme3_results = extract_geme3_consumption(df_geme3, geme3_regions, scenario='SWUC')

with pd.ExcelWriter('coal_gas_oil_comparison.xlsx') as writer:
    for region in nigem_results:
        for fuel in ['coal', 'gas', 'oil']:
            nigem_df = nigem_results[region][fuel]
            geme3_region = {
                'NiGEM NGFS v1.24.2|United States': 'USA - USA',
                'NiGEM NGFS v1.24.2|Asia': 'Asia',
                'NiGEM NGFS v1.24.2|United Kingdom': 'United Kingdom - GBR',
                'NiGEM NGFS v1.24.2|World': 'World'
            }[region]
            fuel_geme3_key = fuel if fuel != 'oil' else 'crude_oil'
            geme3_df = geme3_results[geme3_region][fuel_geme3_key]
            if nigem_df.empty or geme3_df.empty or 'year' not in nigem_df.columns or 'year' not in geme3_df.columns:
                print(f"Skipping {region}, {fuel} -- missing data or columns")
                continue
            nigem_df['year'] = nigem_df['year'].astype(int)
            geme3_df['year'] = geme3_df['year'].astype(int)
            comp = nigem_df.merge(geme3_df, on='year', suffixes=('_nigem', '_geme3'))
            comp = comp[comp['year'] >= 2025]  # <--- Only keep year >= 2025
            print("#######",region,"####",fuel,"#######")
            display(comp)
            comp.to_excel(writer, sheet_name=f"{region.split('|')[-1].strip()}_{fuel}", index=False)

In [ ]:
comp

In [91]:
with pd.ExcelWriter('coal_gas_oil_comparison_asia_countries_SUWC.xlsx') as writer:
    for region in nigem_results:
        for fuel in ['coal', 'gas', 'oil']:
            nigem_df = nigem_results[region][fuel]
            # Updated mapping for Asia components
            if region in asia_country_map:
                geme3_region = asia_country_map[region]
            else:
                geme3_region = {
                    'NiGEM NGFS v1.24.2|United States': 'USA - USA',
                    'NiGEM NGFS v1.24.2|United Kingdom': 'United Kingdom - GBR',
                    'NiGEM NGFS v1.24.2|World': 'World'
                }.get(region, None)
            if geme3_region is None:
                print(f"Skipping {region}, {fuel} -- no matching region")
                continue
            fuel_geme3_key = fuel if fuel != 'oil' else 'crude_oil'
            geme3_df = geme3_results[geme3_region][fuel_geme3_key]
            if nigem_df.empty or geme3_df.empty or 'year' not in nigem_df.columns or 'year' not in geme3_df.columns:
                print(f"Skipping {region}, {fuel} -- missing data or columns")
                continue
            nigem_df['year'] = nigem_df['year'].astype(int)
            geme3_df['year'] = geme3_df['year'].astype(int)
            comp = nigem_df.merge(geme3_df, on='year', suffixes=('_nigem', '_geme3'))
            comp = comp[comp['year'] >= 2025]
            print("#######",region,"####",fuel,"#######")
            display(comp)
            comp.to_excel(writer, sheet_name=f"{region.split('|')[-1].strip()}_{fuel}", index=False)

####### NiGEM NGFS v1.24.2|United States #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,171.973232,-5.879758,12.161471,-13.251963
4,2026,151.654015,-11.815337,9.803087,-19.392262
5,2027,125.589256,-17.186989,6.491367,-33.782414
6,2028,99.524498,-20.753971,3.224569,-50.325266
7,2029,73.459739,-26.189290,0.912767,-71.693354
8,2030,47.394953,-35.481730,0.821897,-9.955441

####### NiGEM NGFS v1.24.2|United States #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,666.912445,-1.676920,100.590832,-0.577029
4,2026,631.500824,-5.309786,97.832477,-2.742154
5,2027,581.667084,-7.891318,88.169108,-9.877465
6,2028,531.833344,-8.567399,85.560181,-2.959004
7,2029,481.999603,-9.370180,81.112452,-5.198364
8,2030,432.165833,-10.338965,73.874685,-8.923127

####### NiGEM NGFS v1.24.2|United States #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,663.465988,-1.247541,250.455732,0.281135
4,2026,643.948273,-2.941781,247.414987,-1.214085
5,2027,617.748810,-4.068566,209.877569,-15.171845
6,2028,591.549347,-4.241119,202.563458,-3.484942
7,2029,565.349884,-4.428956,196.513205,-2.986843
8,2030,539.150391,-4.634209,190.628768,-2.994423

Skipping NiGEM NGFS v1.24.2|Asia, coal -- no matching region
Skipping NiGEM NGFS v1.24.2|Asia, gas -- no matching region
Skipping NiGEM NGFS v1.24.2|Asia, oil -- no matching region
####### NiGEM NGFS v1.24.2|United Kingdom #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,5.143072,-1.500391,0.401687,-2.342357
4,2026,4.567033,-11.200290,0.373681,-6.972025
5,2027,3.692380,-19.151455,0.223457,-40.201152
6,2028,2.817726,-23.688080,0.189233,-15.315852
7,2029,1.943072,-31.041126,0.162237,-14.265847
8,2030,1.068418,-45.013978,0.138314,-14.745571

####### NiGEM NGFS v1.24.2|United Kingdom #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,60.580709,-0.470106,13.991415,-1.902011
4,2026,57.387798,-5.270508,13.320910,-4.792261
5,2027,52.450848,-8.602788,10.791319,-18.989625
6,2028,47.513897,-9.412528,9.721880,-9.910176
7,2029,42.576946,-10.390540,8.655705,-10.966757
8,2030,37.640003,-11.595343,7.619215,-11.974652

####### NiGEM NGFS v1.24.2|United Kingdom #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,48.291240,-0.453946,20.907229,-0.709516
4,2026,47.186098,-2.288493,20.516871,-1.867100
5,2027,45.550005,-3.467320,17.128321,-16.515920
6,2028,43.913912,-3.591862,15.680764,-8.451245
7,2029,42.277819,-3.725683,14.345809,-8.513330
8,2030,40.641724,-3.869866,13.126901,-8.496616

####### NiGEM NGFS v1.24.2|World #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,3551.839722,-1.063462,252.248163,-5.199599
4,2026,3296.972778,-7.175632,235.621462,-6.591407
5,2027,2912.093140,-11.673728,186.299519,-20.932704
6,2028,2527.213562,-13.216596,161.715950,-13.195723
7,2029,2142.333862,-15.229409,148.904702,-7.922068
8,2030,1757.454224,-17.965437,146.750469,-1.446720

####### NiGEM NGFS v1.24.2|World #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,3255.719299,-0.333519,938.813525,3.281647
4,2026,3140.215942,-3.547706,961.057705,2.369393
5,2027,2961.947449,-5.676950,905.796719,-5.750017
6,2028,2783.679077,-6.018620,904.852709,-0.104219
7,2029,2605.410645,-6.404058,884.619428,-2.236086
8,2030,2427.142334,-6.842235,820.248514,-7.276679

####### NiGEM NGFS v1.24.2|World #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,3894.013123,0.544788,1212.418668,0.600807
4,2026,3865.658813,-0.728151,1214.340508,0.158513
5,2027,3807.632568,-1.501070,1055.941363,-13.044047
6,2028,3749.606445,-1.523942,1040.453873,-1.466700
7,2029,3691.580322,-1.547526,1029.254947,-1.076350
8,2030,3633.554260,-1.571849,1021.347348,-0.768284

####### NiGEM NGFS v1.24.2|China #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,1962.771790,-1.754809,122.857575,-4.283304
4,2026,1816.706299,-7.441797,116.368015,-5.282181
5,2027,1604.036377,-11.706346,94.325760,-18.941850
6,2028,1391.366455,-13.258423,84.326558,-10.600712
7,2029,1178.696533,-15.284968,81.110871,-3.813374
8,2030,966.026749,-18.042794,80.894579,-0.266661

####### NiGEM NGFS v1.24.2|China #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,299.202202,2.523013,45.211652,22.472080
4,2026,303.966644,1.592382,53.404561,18.121232
5,2027,307.171967,1.054498,57.904428,8.425997
6,2028,310.377289,1.043494,65.382637,12.914746
7,2029,313.582611,1.032718,68.692371,5.062100
8,2030,316.787918,1.022157,58.163517,-15.327545

####### NiGEM NGFS v1.24.2|China #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,721.351151,1.836878,203.070554,1.744429
4,2026,722.142822,0.109748,206.946253,1.908548
5,2027,715.603271,-0.905576,179.828750,-13.103645
6,2028,709.063721,-0.913851,181.165069,0.743107
7,2029,702.524170,-0.922280,182.979774,1.001686
8,2030,695.984558,-0.930874,184.751775,0.968414

####### NiGEM NGFS v1.24.2|India #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,479.794807,4.755275,40.612055,-4.312195
4,2026,466.549347,-2.760651,39.099062,-3.725478
5,2027,432.288849,-7.343381,29.086454,-25.608308
6,2028,398.028351,-7.925372,26.474809,-8.978905
7,2029,363.767853,-8.607552,24.320651,-8.136633
8,2030,329.507317,-9.418242,24.040650,-1.151288

####### NiGEM NGFS v1.24.2|India #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,71.445879,6.051158,22.598591,17.676322
4,2026,75.451717,5.606815,25.997997,15.042555
5,2027,79.415127,5.252908,28.981669,11.476549
6,2028,83.378536,4.990749,32.366994,11.680916
7,2029,87.341946,4.753513,35.823403,10.678807
8,2030,91.305355,4.537808,36.095739,0.760219

####### NiGEM NGFS v1.24.2|India #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,284.403030,6.220860,96.008014,3.986743
4,2026,301.638779,6.060325,100.049896,4.209943
5,2027,319.222153,5.829282,83.400195,-16.641397
6,2028,336.805527,5.508194,85.010503,1.930820
7,2029,354.388901,5.220631,87.603648,3.050382
8,2030,371.972260,4.961600,90.629558,3.454090

####### NiGEM NGFS v1.24.2|Japan #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,85.317703,-4.073304,19.045306,-4.051819
4,2026,77.818073,-8.790239,17.416425,-8.552664
5,2027,67.992420,-12.626441,13.881643,-20.295679
6,2028,58.166777,-14.451087,12.641549,-8.933340
7,2029,48.341139,-16.892182,10.670377,-15.592799
8,2030,38.515504,-20.325617,10.722707,0.490421

####### NiGEM NGFS v1.24.2|Japan #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,90.841953,-0.312429,33.455412,-2.867510
4,2026,87.057247,-4.166254,32.461749,-2.970111
5,2027,81.172573,-6.759545,31.039613,-4.380960
6,2028,75.287899,-7.249584,29.622484,-4.565549
7,2029,69.403225,-7.816228,28.385849,-4.174649
8,2030,63.518536,-8.478985,23.485210,-17.264375

####### NiGEM NGFS v1.24.2|Japan #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,140.314289,-1.160903,51.344304,-0.551827
4,2026,136.385178,-2.800222,51.173651,-0.332370
5,2027,131.087570,-3.884299,41.768314,-18.379257
6,2028,125.789963,-4.041274,39.924339,-4.414771
7,2029,120.492355,-4.211471,38.425011,-3.755423
8,2030,115.194756,-4.396627,36.852215,-4.093158

In [92]:
for region in nigem_results:
    for fuel in ['coal', 'gas', 'oil']:
        nigem_df = nigem_results[region][fuel]
        # Updated mapping for Asia components
        if region in asia_country_map:
            geme3_region = asia_country_map[region]
        else:
            geme3_region = {
                'NiGEM NGFS v1.24.2|United States': 'USA - USA',
                'NiGEM NGFS v1.24.2|United Kingdom': 'United Kingdom - GBR',
                'NiGEM NGFS v1.24.2|World': 'World'
            }.get(region, None)
        if geme3_region is None:
            print(f"Skipping {region}, {fuel} -- no matching region")
            continue
        fuel_geme3_key = fuel if fuel != 'oil' else 'crude_oil'
        geme3_df = geme3_results[geme3_region][fuel_geme3_key]
        if nigem_df.empty or geme3_df.empty or 'year' not in nigem_df.columns or 'year' not in geme3_df.columns:
            print(f"Skipping {region}, {fuel} -- missing data or columns")
            continue
        nigem_df['year'] = nigem_df['year'].astype(int)
        geme3_df['year'] = geme3_df['year'].astype(int)
        comp = nigem_df.merge(geme3_df, on='year', suffixes=('_nigem', '_geme3'))
        comp = comp[comp['year'] >= 2025]
        print("#######",region,"####",fuel,"#######")
        display(comp)

####### NiGEM NGFS v1.24.2|United States #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,171.973232,-5.879758,12.161471,-13.251963
4,2026,151.654015,-11.815337,9.803087,-19.392262
5,2027,125.589256,-17.186989,6.491367,-33.782414
6,2028,99.524498,-20.753971,3.224569,-50.325266
7,2029,73.459739,-26.189290,0.912767,-71.693354
8,2030,47.394953,-35.481730,0.821897,-9.955441

####### NiGEM NGFS v1.24.2|United States #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,666.912445,-1.676920,100.590832,-0.577029
4,2026,631.500824,-5.309786,97.832477,-2.742154
5,2027,581.667084,-7.891318,88.169108,-9.877465
6,2028,531.833344,-8.567399,85.560181,-2.959004
7,2029,481.999603,-9.370180,81.112452,-5.198364
8,2030,432.165833,-10.338965,73.874685,-8.923127

####### NiGEM NGFS v1.24.2|United States #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,663.465988,-1.247541,250.455732,0.281135
4,2026,643.948273,-2.941781,247.414987,-1.214085
5,2027,617.748810,-4.068566,209.877569,-15.171845
6,2028,591.549347,-4.241119,202.563458,-3.484942
7,2029,565.349884,-4.428956,196.513205,-2.986843
8,2030,539.150391,-4.634209,190.628768,-2.994423

Skipping NiGEM NGFS v1.24.2|Asia, coal -- no matching region
Skipping NiGEM NGFS v1.24.2|Asia, gas -- no matching region
Skipping NiGEM NGFS v1.24.2|Asia, oil -- no matching region
####### NiGEM NGFS v1.24.2|United Kingdom #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,5.143072,-1.500391,0.401687,-2.342357
4,2026,4.567033,-11.200290,0.373681,-6.972025
5,2027,3.692380,-19.151455,0.223457,-40.201152
6,2028,2.817726,-23.688080,0.189233,-15.315852
7,2029,1.943072,-31.041126,0.162237,-14.265847
8,2030,1.068418,-45.013978,0.138314,-14.745571

####### NiGEM NGFS v1.24.2|United Kingdom #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,60.580709,-0.470106,13.991415,-1.902011
4,2026,57.387798,-5.270508,13.320910,-4.792261
5,2027,52.450848,-8.602788,10.791319,-18.989625
6,2028,47.513897,-9.412528,9.721880,-9.910176
7,2029,42.576946,-10.390540,8.655705,-10.966757
8,2030,37.640003,-11.595343,7.619215,-11.974652

####### NiGEM NGFS v1.24.2|United Kingdom #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,48.291240,-0.453946,20.907229,-0.709516
4,2026,47.186098,-2.288493,20.516871,-1.867100
5,2027,45.550005,-3.467320,17.128321,-16.515920
6,2028,43.913912,-3.591862,15.680764,-8.451245
7,2029,42.277819,-3.725683,14.345809,-8.513330
8,2030,40.641724,-3.869866,13.126901,-8.496616

####### NiGEM NGFS v1.24.2|World #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,3551.839722,-1.063462,252.248163,-5.199599
4,2026,3296.972778,-7.175632,235.621462,-6.591407
5,2027,2912.093140,-11.673728,186.299519,-20.932704
6,2028,2527.213562,-13.216596,161.715950,-13.195723
7,2029,2142.333862,-15.229409,148.904702,-7.922068
8,2030,1757.454224,-17.965437,146.750469,-1.446720

####### NiGEM NGFS v1.24.2|World #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,3255.719299,-0.333519,938.813525,3.281647
4,2026,3140.215942,-3.547706,961.057705,2.369393
5,2027,2961.947449,-5.676950,905.796719,-5.750017
6,2028,2783.679077,-6.018620,904.852709,-0.104219
7,2029,2605.410645,-6.404058,884.619428,-2.236086
8,2030,2427.142334,-6.842235,820.248514,-7.276679

####### NiGEM NGFS v1.24.2|World #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,3894.013123,0.544788,1212.418668,0.600807
4,2026,3865.658813,-0.728151,1214.340508,0.158513
5,2027,3807.632568,-1.501070,1055.941363,-13.044047
6,2028,3749.606445,-1.523942,1040.453873,-1.466700
7,2029,3691.580322,-1.547526,1029.254947,-1.076350
8,2030,3633.554260,-1.571849,1021.347348,-0.768284

####### NiGEM NGFS v1.24.2|China #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,1962.771790,-1.754809,122.857575,-4.283304
4,2026,1816.706299,-7.441797,116.368015,-5.282181
5,2027,1604.036377,-11.706346,94.325760,-18.941850
6,2028,1391.366455,-13.258423,84.326558,-10.600712
7,2029,1178.696533,-15.284968,81.110871,-3.813374
8,2030,966.026749,-18.042794,80.894579,-0.266661

####### NiGEM NGFS v1.24.2|China #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,299.202202,2.523013,45.211652,22.472080
4,2026,303.966644,1.592382,53.404561,18.121232
5,2027,307.171967,1.054498,57.904428,8.425997
6,2028,310.377289,1.043494,65.382637,12.914746
7,2029,313.582611,1.032718,68.692371,5.062100
8,2030,316.787918,1.022157,58.163517,-15.327545

####### NiGEM NGFS v1.24.2|China #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,721.351151,1.836878,203.070554,1.744429
4,2026,722.142822,0.109748,206.946253,1.908548
5,2027,715.603271,-0.905576,179.828750,-13.103645
6,2028,709.063721,-0.913851,181.165069,0.743107
7,2029,702.524170,-0.922280,182.979774,1.001686
8,2030,695.984558,-0.930874,184.751775,0.968414

####### NiGEM NGFS v1.24.2|India #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,479.794807,4.755275,40.612055,-4.312195
4,2026,466.549347,-2.760651,39.099062,-3.725478
5,2027,432.288849,-7.343381,29.086454,-25.608308
6,2028,398.028351,-7.925372,26.474809,-8.978905
7,2029,363.767853,-8.607552,24.320651,-8.136633
8,2030,329.507317,-9.418242,24.040650,-1.151288

####### NiGEM NGFS v1.24.2|India #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,71.445879,6.051158,22.598591,17.676322
4,2026,75.451717,5.606815,25.997997,15.042555
5,2027,79.415127,5.252908,28.981669,11.476549
6,2028,83.378536,4.990749,32.366994,11.680916
7,2029,87.341946,4.753513,35.823403,10.678807
8,2030,91.305355,4.537808,36.095739,0.760219

####### NiGEM NGFS v1.24.2|India #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,284.403030,6.220860,96.008014,3.986743
4,2026,301.638779,6.060325,100.049896,4.209943
5,2027,319.222153,5.829282,83.400195,-16.641397
6,2028,336.805527,5.508194,85.010503,1.930820
7,2029,354.388901,5.220631,87.603648,3.050382
8,2030,371.972260,4.961600,90.629558,3.454090

####### NiGEM NGFS v1.24.2|Japan #### coal #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,85.317703,-4.073304,19.045306,-4.051819
4,2026,77.818073,-8.790239,17.416425,-8.552664
5,2027,67.992420,-12.626441,13.881643,-20.295679
6,2028,58.166777,-14.451087,12.641549,-8.933340
7,2029,48.341139,-16.892182,10.670377,-15.592799
8,2030,38.515504,-20.325617,10.722707,0.490421

####### NiGEM NGFS v1.24.2|Japan #### gas #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,90.841953,-0.312429,33.455412,-2.867510
4,2026,87.057247,-4.166254,32.461749,-2.970111
5,2027,81.172573,-6.759545,31.039613,-4.380960
6,2028,75.287899,-7.249584,29.622484,-4.565549
7,2029,69.403225,-7.816228,28.385849,-4.174649
8,2030,63.518536,-8.478985,23.485210,-17.264375

####### NiGEM NGFS v1.24.2|Japan #### oil #######

,year,consumption_nigem,consumption_pct_change_nigem,consumption_geme3,consumption_pct_change_geme3
3,2025,140.314289,-1.160903,51.344304,-0.551827
4,2026,136.385178,-2.800222,51.173651,-0.332370
5,2027,131.087570,-3.884299,41.768314,-18.379257
6,2028,125.789963,-4.041274,39.924339,-4.414771
7,2029,120.492355,-4.211471,38.425011,-3.755423
8,2030,115.194756,-4.396627,36.852215,-4.093158